spring:
  datasource:
    url: jdbc:h2:mem:db;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: sa
    driverClassName: org.h2.Driver
  flyway:
    locations: classpath:db/callbacks/labs
  h2:
    console:
      enabled: true
      path: /h2-console
  main:
    banner-mode: "console"
  sql:
    init:
      platform: postgres

no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: http://tiltak-fakelogin/metadata?issuer=aad
      accepted_audience: aud-aad
    tokenx:
      discoveryurl: http://tiltak-fakelogin/metadata?issuer=tokenx
      accepted_audience: aud-tokenx
    azure-access-token:
      discoveryurl: "https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b/.well-known/openid-configuration"
      accepted_audience: "https://management.core.windows.net/"
  client:
    registration:
      dummy:
        token-endpoint-url: https://nav.no
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: https://nav.no
        authentication:
          client-id: dummy
          client-secret: dummy
          client-auth-method: client_secret_basic

tiltak-refusjon:
  kafka:
    enabled: false
    fake: true
  kontoregister:
    fake: true
  inntektskomponenten:
    fake: true
  altinn-tilgangstyring:
    uri: http://tiltak-refusjon-api-wiremock/altinn-tilgangsstyring
    arbeidsgiverAltinnTilgangerUri: http://tiltak-refusjon-api-wiremock/altinn-tilganger
    beOmRettighetBaseUrl: https://arbeidsgiver-q.nav.no/min-side-arbeidsgiver/?fragment=be-om-tilgang
    inntektsmeldingServiceCode: 4936
    inntektsmeldingServiceEdition: 1
    adressesperreServiceCode: 5516
    adressesperreServiceEdition: 7
  unleash:
    mock: true
  norg:
    fake: true
  ad-grupper:
    beslutter: 1a1d2745-952f-4a0f-839f-9530145b1d4a
    fortrolig-adresse: 1a1d2745-952f-4a0f-839f-9530145b1d4a
    strengt-fortrolig-adresse: 1a1d2745-952f-4a0f-839f-9530145b1d4a
  pdl-api:
    uri: http://tiltak-refusjon-api-wiremock/persondata
