name: Bygg og deploy - Labs

on:
  workflow_dispatch:
  schedule:
    # Kjør litt tidligere enn tiltaksgjennomforing slik at avtaleløsning
    # kan pushe refusjoner til refusjonsløsning
    - cron: '45 4 * * 1-5'

jobs:
  build:
    name: Bygg
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Oppsett Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Bygg og test med Maven
        run: mvn package -B -Dsurefire.useFile=false

      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          byosbom: target/classes/META-INF/sbom/application.cdx.json
          team: arbeidsgiver
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  build-push-wiremock-image:
    runs-on: ubuntu-latest
    name: 'Bygg og push Wiremock-image'
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Push Docker Image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          image_suffix: wiremock
          team: arbeidsgiver
          dockerfile: DockerfileWiremock
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-wiremock:
    needs: build-push-wiremock-image
    name: 'Deploy Wiremock to dev-gcp'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Deploy til gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLUSTER: dev-gcp
          TEAM: arbeidsgiver
          RESOURCE: ".nais/wiremock.yml"
          VAR: image=${{ needs.build-push-wiremock-image.outputs.image }}

  deploy-dev-gcp-labs:
    name: Deploy til dev-gcp (tidligere labs)
    runs-on: ubuntu-latest
    needs: [build, deploy-wiremock]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Deploy til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev-gcp-labs.yml
          VAR: image=${{ needs.build.outputs.image }}
